# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
**/usd/*
**/*.usd
**/*.usda
**/*.usdc
**/*.usdz
**/*.gif

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
**/*.pth
**/*.gif

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
!/.vscode/
!/.vscode/settings_sample.json


# Outputs
**/logs/*
**/figs/*
**/output/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp
*.csv

# Claude
**/*.md
!README.md
!CLAUDE.md

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# LaTeX Paper
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.out
**.synctex.gz